h1 { background-color: #d36355;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
h2 {
	text-align: center;
	font-family: 'Roboto Slab', serif;
} 

body {
	background-color: #ebb4ad ;
}




 section {
 	font-family: 'Khula', sans-serif;
 }